{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskWallet</title>
    <link rel="stylesheet" href="{% static 'taskwallet/css/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static '' %}"> -->
</head>

<body>
    <header class="header">
        <a href="#">
            <img class="header__logo" src="{% static 'taskwallet/img/TaskWallet/logo_transparent.png' %}" alt="logo">
        </a>
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__menuItem"><a href="{% url '' %}">Accueil</a></li>
                <li class="header__menuItem"><a href="{% url 'services' %}">Services</a></li>
                <li class="header__menuItem"><a href="{% url 'connexion' %}">Se connecter</a></li>
                <li class="header__menuItem"><a href="{% url 'contact' %}">Contacts</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>

</html>